/* google font link */
body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

/*BANNER SECTION STARTS*/
.banner {
    padding: 30px 30px 0 100px;
    display: flex;
    background-color: #f5e5e9;
    gap: 50px;
    margin-bottom: 50px;
}

.banner-content {
    width: 40%;
    padding-right: 10%;
}

.banner-pic {
    width: 250px;
    padding-left: 10%;
}

.flower-button {
    background-color: #E55473;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
}

/* MAIN SECTION--FEATURE */

.feature-text {
    text-align: center;
}

.feature-text p {
    padding: 0 25%;
}

.feature-flower {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.flower {
    text-align: center;
}

#flower1 {
    background-color: #f5cce0;
    padding: 15px 30px;
    margin-right: 15px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
}

#flower2 {
    background-color: #d0f4f6;
    padding: 34px 30px;
    margin-right: 15px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
}

#flower3 {
    background-color: #e0f2ce;
    padding: 9px 30px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
}

/* activities section */
.support {
    display: flex;
    gap: 30px;
    background-color: #f7f5f5;
    margin: 20px 200px 50px 200px;
    justify-content: center;
    text-align: center;
    padding: 30px 40px 10px 40px;
    align-items: baseline;
}

.support img {
    width: 25%;
}

/* HOT DEALS SECTION */
.hot-deals {
    display: flex;
    background-color: #f4edef;
    padding: 50px 200px;
}

.deals-text {
    text-align: center;
    padding: 0 30px;
}